.px-base {
    padding-block: var(--px-base);
}

.px-lg {
    padding-block: var(--px-lg);
}

.py-base {
    padding-inline: var(--py-base);
}

.py-lg {
    padding-inline: var(--py-lg);
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.grid {
    display: grid;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.gap-0\.5 {
    gap: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-1\.5 {
    gap: 1.5rem;
}

.gap-2 {
    gap: 2rem;
}

.leading-1\.25 {
    line-height: 1.25;
}

.ml-auto {
    margin-left: auto;
}

.desktop-only {
    display: none;
}

@media (width >= 80em) {
    .desktop-only {
        display: inline-block;
    }
}